:root{
    --body-background:#f4f4f9;
    --btn-primary:#5cabff;
    --btn-secondary:#f1ee2d;
    --btn-active:#4a90e2;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--body-background);
}
.container{
    background-color: white;
    max-width: 600px;
    margin: 0px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
h1{
    text-align: center;
}
#todoInput{
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
#addTodo{
    padding: 10px 20px;
    background-color: var(--btn-primary);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0px;;
}
li{
    padding: 10px;
    border-bottom: 1px solid #ddd;

}
li:hover{
    background-color: aliceblue;

}

li:last-child{
    border-bottom: none;
}
.filterbtn{
    margin: 5px;
    padding: 10px 15px;
    background-color: var(--btn-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.03s;
}

.filterbtn:hover{
    background-color: var(--btn-active);
}