html{
    box-sizing: border-box;

}

*{
    box-sizing: inherit;
}
body{
    padding: 0px;
    margin: 0px;
}
.image{
    background-attachment: fixed;
    background-size: cover;
    position: relative;  /*Ensure text-content is positioned relative to the image container */
    
}
.section-light{
    background-color: #f4f4f4;
    color: black;

}
.section-dark{
    background-color: #2a2e34;
    color: white;
}
.first-image{
    background-image: url(images/par1.jpg);
    min-height: 500px;
    opacity: 0.9;
}
.second-image{
    background-image: url(images/par3.jpg);
    min-height: 500px;
}

.third-image{
    background-image: url(images/par3.jpg);
    min-height: 500px;
}

.fourth-image{
    background-image: url(images/par1.jpg);
    min-height: 500px;
}
.text-content{
    position: absolute;
    top: 200px;
    left: 600px;
    font-size: xx-large;
    text-transform: uppercase;
    background-color: #111;
    padding: 20px;
    color: white;
    max-width: 25%;
    text-align: center;
    opacity: 0.8;
}
#popup{
    position: absolute;
    top: 200px;
    left: 35%;
    font-size:xx-large;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    width: 400px;
    height: 250px;
    
}
#popup-text{
    position: absolute;
    top: 50%;
    left: 25%;
    
    

}
