html{
    box-sizing: border-box;

}
*{
    box-sizing: inherit;
}
.calculator{
    width: 280px;
    display: flex;
    flex-direction: column;
    
}
.calculator-keys{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.key-row-1, .key-row-2, .key-row-3{
    width: 100%;
}
.key-row-1{
    display: flex;
}
.key-row-2{
    display: flex;
}
.numbes{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.zero{
    flex-basis:66.5% ;
}

.symbols{
    display: flex;
    flex-direction: column;
}


.key-equal{
    flex-basis: 100%;
}


.key-row-3{
    display: flex;
}



button{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    font-size: 25px;
    width: 70px;

    outline: none;
}
.key-function{
    background-color: #e8e6e3;
}
.key-operator{
    background-color: #fe9241;
    color: #fff;
}

.plus{
    flex-basis: 50%;
    background-color: rgb(109, 55, 55);
}
.key-equal{
    background-color: #0a89ff;
}
.calculator-display{
    width: 100%;
    color: #fff;
    background-color: #252525;
    padding: 20px;
    font-size: 2em;
    text-align: right;
    margin-bottom: 5px;
}